.row
  = simple_form_for(@element,
  :url => inspection_element_path(@inspection, @element),
  :method => 'put',
  :remote => true,
  :html => {:class => 'form-vertical element_comment_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    = f.input :notes, as: :text, label: 'Comment'

    .col-md-12
      = f.button :submit, 'Save', :class => 'btn btn-primary'
      %button.btn.btn-warning#cancel_element_comment_form{type: 'button'}
        Cancel

:javascript
  $(function() {

    // jquery validations
    $('.element_comment_form').validate({
      submitHandler: function(form) {
        form.ajaxSubmit();
      }
    });

    $('#cancel_element_comment_form').click(function() {
      $('#form-modal').modal('hide');
    });
  });
