.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        Edit Comment
    .modal-body
      = render(:partial => 'shared/form_errors', :locals => {:obj => @element}) unless @element.errors.empty?

      = render "elements/edit_comment_form"