-#.form-group
-#  %label.control-label
-#    Last Inspection Date
-#  .display-value
-#    = format_as_date(@asset.inspection_date)
-#.form-group
-#  %label.control-label
-#    Overall Bridge Condition
-#  .display-value
-#    = @asset.calculated_condition&.titleize
-#.form-group
-#  %label.control-label
-#    Deck Condition
-#  .display-value
-#    = @asset.deck_condition_rating_type
-#.form-group
-#  %label.control-label
-#    Superstructure Condition
-#  .display-value
-#    = @asset.superstructure_condition_rating_type
-#.form-group
-#  %label.control-label
-#    Substructure Condition
-#  .display-value
-#    = @asset.substructure_condition_rating_type

