= editable_asset_field_tag(@asset, :length, reference_label('bridge_likes', 'length', 'Length'))
= editable_asset_field_tag(@asset, :num_spans_main, reference_label('bridge_likes', 'num_spans_main', 'Number of Spans'))
= editable_asset_field_tag(@asset, :num_spans_approach, reference_label('bridge_likes', 'num_spans_approach', 'Number of Approach Spans'))
= editable_asset_field_tag(@asset, :approach_roadway_width, reference_label('highway_structures', 'approach_roadway_width', 'Approach Roadway Width'))