= editable_asset_field_tag(@asset, :length, reference_label('bridges', 'length', 'Length'))
= editable_asset_field_tag(@asset, :num_spans_main, reference_label('bridges', 'num_spans_main', 'Num Spans Main'))
= editable_asset_field_tag(@asset, :num_spans_approach, reference_label('bridges', 'num_spans_approach', 'Num Spans Approach'))