= editable_asset_field_tag(@asset, :asset_tag, 'Structure Number')
= editable_asset_association_tag(@asset, :asset_subtype, 'Subtype', AssetSubtype.where(asset_type: @asset.asset_type).order(:id).collect{|x| [x.id, x.name]})