.row
  .col-sm-1
    = editable_asset_association_tag(@asset, :route_signing_prefix, 'Route')
  .col-sm-1
    = editable_asset_field_tag(@asset, :route_number, '&nbsp')

.col-sm-6
  = editable_asset_association_tag(@asset, :strahnet_designation_type)