- if @roadway.errors.any?
  $('#form-modal').html("#{escape_javascript(render 'roadways/form_modal')}");
- else
  $('#form-modal').modal('hide');

  $('div.tab-content #roadways.tab-pane').html("#{escape_javascript(render 'inspections/roadways', highway_structure: @asset)}");