:javascript
  function geojson_renderer(feature, latlng) {
    var condition = feature.properties.condition;
    var fillColor = function() {
      switch(condition) {
        case 'poor':
          return '#ff0000';
          break;
        case 'fair':
          return '#ffff00';
          break;
        case 'good':
          return '#00ff00';
          break;
        default:
          return '#000';
          break;
      }
    }
    var geojsonMarkerOptions = {
      radius: 8,
      fillColor: fillColor(),
      color: "#000",
      weight: 1,
      opacity: 1,
      fillOpacity: 0.8
    };

    var marker = L.circleMarker(latlng, geojsonMarkerOptions);
    marker.id = feature.properties['id'];
    return marker;
  }