#inspectionFilterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  .panel.panel-default
    .panel-heading{role:"tab"}
      %h5.panel-title
        Inspection
    .panel-collapse{role:"tabpanel", id:"inspection_filters"}
      .panel-body