:javascript
  function update_disabled_orgs() {
    var highway_authority = JSON.parse('#{HighwayAuthority.all.map{|x| [x.id, x.coded_name]}.first.to_json.html_safe}');
    var selectize = $org_select[0].selectize;

    selectize.updateOption(highway_authority[0], {value: highway_authority[0], text: highway_authority[1], disabled: true});


    var org_id = $('#user_organization_id').val();
    selectize.addItem(org_id);
  }