%tr
  %th.center Name
  %th.center Tag
  %th.center Description
  %th.center File Date
  %th.center File Size
  %th.center{:data => {:formatter => 'date_time_formatter'}} Entry Date & Time
  %th.center Entry By
  %th.center Action