- tabs.each do |t|
  - count = @asset.documents.joins(:document_tag).where(document_tags: {document_folder: DocumentFolder.find_by(name: t[1])}).count
  - if (count > 0)
    = nav_tab_count_tag("##{t[0]}-docs", t[1], count)