= editable_asset_field_tag(@asset, :length, reference_label('bridges', 'length', 'Length'))
= editable_asset_field_tag(@asset, :min_vertical_clearance_below, reference_label('bridges', 'min_vertical_clearance_below', 'Minimum Vertical Clearance Below Bridge'))