:ruby
  tabs = DocumentFolder.all.map{|f| [f.name.parameterize, f.name]}

%ul.nav.nav-tabs#structure-documents
  = render :partial => 'documents/index_tabs', :locals => {tabs: tabs}


.tab-content
  - tabs.each_with_index do |t, i|
    .tab-pane.fade{id: "#{t[0]}-docs"}
      .tab-content
        = render :partial => 'documents/index_table', :locals => {folder: t[1]}