%li
  %a{href: '#id', data: {toggle: 'tab'}}
    Identification
%li
  %a{href: '#location', data: {toggle: 'tab'}}
    Location
%li
  %a{href: '#usage', data: {toggle: 'tab'}}
    Usage
%li
  %a{href: '#candm', data: {toggle: 'tab'}}
    Construction & Material
%li
  %a{href: '#gandl', data: {toggle: 'tab'}}
    Geometry & Layout
%li
  %a{href: '#inspection', data: {toggle: 'tab'}}
    Inspection Scheduling

    