:ruby 
  asset_dir = @asset_class_name.underscore
  @sshml = ['highway_sign', 'highway_signal', 'high_mast_light'].include? asset_dir
  asset_dir = 'bridge_like' if ['bridge', 'culvert', 'misc_structure'].include?(asset_dir) || @sshml
  
= render "highway_structures/#{asset_dir}/subheader"
