:ruby
  tabs = {
    identification: 'Identification',
    age_service: 'Age & Service',
    appraisal: 'Appraisal',
    classification: 'Classification',
    condition: 'Condition',
    geometric_data: 'Geometric Data',
    inspections: 'Inspections',
    load_rating_posting: 'Load Rating & Posting',
    proposed_improvements: 'Proposed Improvements',
    roadways: 'Roadway',
    structural_type_material: 'Structural Type & Material',
    navigation_data: 'Navigation Data'
  }

  if @sshml
    tabs.except!(:load_rating_posting, :navigation_data)
  end

  if @inspection
    tabs.except!(:appraisal, :condition, :roadways)
  end

- tabs.each do |key, label|
  %li
    %a{href: "##{key}", data: {toggle: 'tab'}}
      = label