<h1>Editing Streambed Profile Point</h1>

<%= render 'form', streambed_profile_point: @streambed_profile_point %>

<%= link_to 'Show', @streambed_profile_point %> |
<%= link_to 'Back', streambed_profile_points_path %>
