#highwayIIdentificationFilterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  .panel.panel-default
    .panel-heading{role:"tab"}
      %h5.panel-title
        %a{data: {toggle: 'collapse'}, href: '#collapse-identification'}Identification
    #collapse-identification.panel-collapse.collapse.in
      .panel-body
        = @search_form.input :asset_tag, label: reference_label('highway_structures', 'transam_assets.asset_tag', 'Structure Number'), :input_html => { :data => {:convert => 'uppercase'} }