:ruby
  conditions = ['good', 'fair', 'poor', 'unknown'].map{|r| [r.titleize, r]}

#highwayInspectionFilterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  .panel.panel-default
    .panel-heading{role:"tab"}
      %h5.panel-title
        %a{data: {toggle: 'collapse'}, href: '#collapse-inspection'}Inspection
    #collapse-inspection.panel-collapse.collapse.in
      .panel-body
        = @search_form.input :calculated_condition, as: :check_boxes,  collection: conditions, label: reference_label('highway_structures', 'calculated_condition', 'Overall Condition')