#highwayOwnershipFilterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  .panel.panel-default
    .panel-heading{role:"tab"}
      %h5.panel-title
        Ownership
    .panel-collapse{role:"tabpanel"}
      .panel-body
        = @search_form.input :owner_id, collection: StructureAgentType.active.order(:name).pluck(:name, :id), label: reference_label('highway_structures', 'owner_id', 'Onwer')