- @searcher.on_under_indicator = 'on' unless @searcher.on_under_indicator
#highwayRoadwayFilterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  .panel.panel-default
    .panel-heading{role:"tab"}
      %h5.panel-title
        %a{data: {toggle: 'collapse'}, href: '#collapse-roadway'}Roadway
    #collapse-roadway.panel-collapse.collapse.in
      .panel-body
        %label.control-label{for: 'on_under_indicator_tab'}
          = reference_label('roadways', 'service_type', 'Service Type')
        %ul.nav.nav-tabs#on_under_indicator_tab
          %li.active#service_on_type_header
            %a{:href => '#service_on_type', :data =>{:toggle => 'tab'}}
              On (42A)
          %li#service_under_type_header
            %a{:href => '#service_under_type', :data =>{:toggle => 'tab'}}
              Under (42B)
        .tab-content{style: 'min-height: 100px;'}
          .tab-pane.fade.in.active#service_on_type
            = @search_form.input :service_on_type_id, as: :check_boxes, collection: ServiceOnType.active.order(:name).pluck(:name, :id), label: false

          .tab-pane.fade.in#service_under_type
            = @search_form.input :service_under_type_id, as: :check_boxes, collection: ServiceUnderType.active.order(:name).pluck(:name, :id), label: false
        
        = @search_form.input :on_national_highway_system, collection: [['On', 'yes'],['Not On', 'no']], label: reference_label('roadways', 'on_national_highway_system', 'NHS')