.row
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#open_assignments', :data =>{:toggle => 'tab'}}
        Assign Groups and Teams
    %li
      %a{:href => '#ready_assignments', :data =>{:toggle => 'tab'}}
        Assign Inspectors
  .tab-content.form-section{style: 'min-height: 100px;'}
    .tab-pane.fade.in.active#open_assignments
      = render 'inspections/open_assignments_form'
    .tab-pane.fade#ready_assignments
      = render 'inspections/ready_assignments_form'
