:ruby
  @search_proxy.structure_status_type_code = [StructureStatusType.find_by_name('Active').try(:code)] unless @search_proxy.structure_status_type_code

.col-sm-6
  .col-sm-6
    = f.input :owner_id, as: :check_boxes, collection: StructureAgentType.active.order(:code).collect{|t| [t.name, t.id]}, label: reference_label('highway_structures', 'owner_id', 'Onwer')
  .col-sm-6
    = f.input :structure_status_type_code, as: :check_boxes, collection: StructureStatusType.active.order(:name).pluck(:name, :code), label: reference_label('highway_structures', 'structure_status_type_id', 'Status')
