.form-group
  %label.control-label
    Deck Condition (58)
  .display-value
    = @inspection.deck_condition_rating_type
.form-group
  %label.control-label
    Superstructure Condition (59)
  .display-value
    = @inspection.superstructure_condition_rating_type
.form-group
  %label.control-label
    Substructure Condition (60)
  .display-value
    = @inspection.substructure_condition_rating_type
.form-group
  %label.control-label
    Channel/Protection Rating (61)
  .display-value
    = @inspection.channel_condition_type

