%ul.nav.nav-tabs
  %li
    %a.active{:href => '#conditions', :data =>{:toggle => 'tab'}}
      %span.nowrap
        Conditions

.tab-content.editable-fields-container
  .tab-pane.fade#conditions
    .tab-content
      = render 'conditions'