%ul.nav.nav-tabs
  %li.active
    %a{:href => '#assignment', :data =>{:toggle => 'tab'}}
      Assignment
  %li
    %a{:href => '#notes', :data =>{:toggle => 'tab'}}
      Notes
  %li
    %a{:href => '#schedule', :data =>{:toggle => 'tab'}}
      Schedule
.tab-content{style: 'min-height: 100px;'}
  .tab-pane.fade.in.active#assignment
    = render 'inspections/assignment'
  .tab-pane.fade.in#notes
    = render 'inspections/notes'
  .tab-pane.fade.in#schedule
    = render 'inspections/schedule'

:javascript

  $(document).ready(function() {
    disabled = "#{(cannot? :update, @inspection.inspection) ? 'disable' : ''}";
    if (disabled.length > 0) {
      $('#notes .editable-field').editable(disabled);
      $('#schedule .editable-field').editable(disabled);
    }
  });

