.col-xs-12
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row
    %span.col-xs-3
      Team Leader
    %span.col-xs-3
      =@inspection.inspection_team_leader
    %span.col-xs-6
      __________________________________________
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row
    %span.col-xs-3
      Team Member
    %span.col-xs-3
      =@inspection.inspection_team_member
    %span.col-xs-6
      __________________________________________
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
  .row
    %span.col-xs-3
      Team Member Alternate
    %span.col-xs-3
      =@inspection.inspection_team_member_alt
    %span.col-xs-6
      __________________________________________

