.row
  %span.col-xs-1
    Priority
  %span.col-xs-1
    Status
  %span.col-xs-1
    General Location
  %span.col-xs-2
    Recommendations
  %span.col-xs-1
    Inspection Notes
  %span.col-xs-3
    Date Furst Recommended
  %span.col-xs-1
    Timeline
  %span.col-xs-1
    Date Completed
.row
  %span.col-xs-1
    Priority
  %span.col-xs-1
    Status
  %span.col-xs-1
    General Location
  %span.col-xs-2
    Recommendations
  %span.col-xs-1
    Inspection Notes
  %span.col-xs-3
    Date Furst Recommended
  %span.col-xs-1
    Timeline
  %span.col-xs-1
    Date Completed