- disabled_fields = @inspection.inspection_type.name == 'Initial' ? [] : @asset.attributes.keys.select{|x| cannot?("update_#{x}", obj)}
= render partial: 'shared/xeditable_scripts', locals: {obj: @asset, disabled_fields: disabled_fields}

:javascript


  // ------ override methods in shared xeditable scripts to handle edit/save buttons in different panels -----------

  $(function() {
    function enable_tab_editing(tab_id) {
      $('#'+tab_id+' .editable-field').editable('enable');
      $('#'+tab_id+' .editable-field').filter(':visible').editable('show', false);
      $('#'+tab_id+' input[type=radio]').removeAttr('disabled');
      //$('#'+tab_id+' .editable-input').find('input, select').first().focus();

      $('.other-type-container select').each(function() {
        $(this).closest('.other-type-container').attr('data-original-value', $(this).val());
      });

      // enable subforms
      $('#'+tab_id+' .asset-subform').find('input, select').removeAttr('disabled');
      $('#'+tab_id+' .asset-subform .asset-subform-action').show();
      $('#'+tab_id+' .asset-subform .asset-subform-display').hide();

      // de-focus form: 1. make it select the first one; 2. lost is focus
      // the purpose of selecting first one is to avoid focus jumping to others
      setTimeout(function(){
        $('#'+tab_id+' .editable-input').find('input, select').first().focus();
        $(':focus').blur();
      }, 10);
    }
    $('.inspection-edit-xeditable-button').on('click', function(e) {
      e.stopPropagation();

      var tab_id = $(this).parent().parent().parent().parent().parent().find('.panel-collapse').attr('id');

      enable_tab_editing(tab_id);

      $(this).hide();
      $(this).next('.edit-xeditable-buttons').show();
    });

  });

  // ----------------------------------------------------------------------------------------------------------------

  var user_tab_key = 'inspection_tab_key';

  // Override placement of validator msg on .input-groups
  $.validator.setDefaults({errorPlacement: function(error, element) {
      console.log(element);
      if(element.parents('.input-group').length) {
        error.insertAfter(element.parents('.input-group'));
      } else {
        error.insertAfter(element);
      }
    }
  });

  $(document).ready(function() {

    // transam.make_same_height('.header-part');

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      transam.set_ui_key_value(user_tab_key, this_tab);
    });
  });
  $(function() {
    var last_tab = transam.get_ui_key_value(user_tab_key);
    if (last_tab) {
      $('a[href="'+last_tab+'"]').tab('show');
    } else {
      // Default to the first tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }
  });
