.col-xs-12
  .row
    %span.col-xs-12.text-header
      Roadbed Field Data

  .row
    %span.col-xs-12.text-limiter-counter
      Road surface name? what are these called?
  .row
    %span.col-xs-2.text-limiter-counter
      Location
    %span.col-xs-2.text-limiter-counter
      L
    %span.col-xs-2.text-limiter-counter
      1
    %span.col-xs-2.text-limiter-counter
      2
    %span.col-xs-2.text-limiter-counter
      3
    %span.col-xs-2.text-limiter-counter
      R
  .row
    %span.col-xs-2.text-limiter-counter
      Entry
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
  .row
    %span.col-xs-2.text-limiter-counter
      Exit
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _
    %span.col-xs-2.text-limiter-counter
      _