.col-xs-12
  .row
    %span.col-xs-6.text-header
      Summary
    %span.col-xs-6.text-header
      Appraisal
  .row

    %span.col-xs-3.text-limiter-counter
      Structure Key (8A)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.asset_tag.to_s
    %span.col-xs-3.text-limiter-counter
      Bridge Rail (36A)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Structure Status (23)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.structure_status_type
    %span.col-xs-3.text-limiter-counter
      Transitions (36B)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Highway Segment (5D)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.roadways.first.route_number
    %span.col-xs-3.text-limiter-counter
      Approach guardrail (36C)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Legacy Milepoint (11A)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.roadways.first.milepoint
    %span.col-xs-3.text-limiter-counter
      End treatments (36D)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      City (4)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.city
    %span.col-xs-3.text-limiter-counter
      Rail Height (66H)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      County (3)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.county
    %span.col-xs-3.text-limiter-counter
      Fill/Asphalt Thickness (66T)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Maint. Responsibility (21)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.maintenance_responsibility
    %span.col-xs-3.text-limiter-counter
      Structural Evaluation (67)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Owner (22)
    %span.col-xs-3.text-limiter-counter
      =@inspection.highway_structure.owner
    %span.col-xs-3.text-limiter-counter
      Deck Geometry (68)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Sufficency Rating
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Underclearances Appraisal (69)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Overall Condition (67A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Waterway Adequacy (71)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Scour Critical (113)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Approach Roadway Alignment (72)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Structure Class (24)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
      Classification
  .row
    %span.col-xs-3.text-limiter-counter
      Major Minor (25)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Toll (20)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Design Type (43D)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Historical Significance (37)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Structure Type (43C)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Temporary Structure (103)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Inspection Program (80)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
      Condition
  .row
    %span.col-xs-3.text-limiter-counter
      Routine Inspection Date (90)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Deck (58)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Due Date (90A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Superstructure (59)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Target Date (90T)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Substructure (60)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Frac Crit Insp Req'd (92AA)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Channel Protection (61)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Underwater Insp Req'd (92BA)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      SSHML Rating
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Special Insp Req'd (92CA)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
      Geometric Data
  .row
    %span.col-xs-3.text-limiter-counter
      Border Bridge Struc Number (99)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Approach Roadway Width (32)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-6.text-header
      Identification
    %span.col-xs-3.text-limiter-counter
      Maximum Span Length (48)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      State (1)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Bridge Length (49)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Region (2E)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Left Curb or Sidewalk (50A)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Maintenance (2M)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Right Curb or Sidewalk (50B)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Features Intersected (6A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Curb to Curb (51)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Facility Carried by Structure (7)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Out to Out (52)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Structure Number (8)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Min Vertical Clr Above Bridge (53)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Location Description (9)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Ref Vert Feature Below Bridge (54A)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Latitude (16)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Min Vertical Clr Below Bridge (54B)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Longitude (17)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Ref Horiz Feat Below Bridge (55A)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      FHWA Region (Border) (98A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.overflow-hidden.text-limiter-counter
      Min Horiz Clr Below Bridge, Rt (55B)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Percent Responsibility (98B)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-3.text-limiter-counter
      Min Horiz Clr Below Bridge, Lt (56)
    %span.col-xs-3.text-limiter-counter
      ____
  .row
    %span.col-xs-3.text-limiter-counter
      Border Bridge Struc Number (99)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
      Remarks
  .row
    %span.col-xs-6.text-header
      Age & Service
    %span.col-xs-6.text-header
  .row
    %span.col-xs-3.text-limiter-counter
      Year Built (27)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
  .row
    %span.col-xs-3.text-limiter-counter
      Lanes On (28A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
  .row
    %span.col-xs-3.text-limiter-counter
      Lanes Under (28B)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
  .row
    %span.col-xs-3.text-limiter-counter
      Service Type On (42A)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header
  .row
    %span.col-xs-3.text-limiter-counter
      Service Type Under (42B)
    %span.col-xs-3.text-limiter-counter
      ____
    %span.col-xs-6.text-header