-typed_structure = TransamAsset.get_typed_asset(@inspection.highway_structure)

.col-xs-6
  .row
    %span.col-xs-12.text-header
      Load Rating & Posting
  .row
    %span.col-xs-6.text-limiter-counter
      Design Load (31)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.design_load_type
  .row
    %span.col-xs-6.text-limiter-counter
      Posting Status (41)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.bridge_like_conditions.first.operational_status_type
  .row
    %span.col-xs-6.text-limiter-counter
      Method for Operating Rating (63)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.operating_rating_method_type
  .row
    %span.col-xs-6.text-limiter-counter
      Operating Rating Tons (64)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.operating_rating
  .row
    %span.col-xs-6.text-limiter-counter
      Operating Rating (64F)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Method for Inventory Rating (65)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.inventory_rating_method_type
  .row
    %span.col-xs-6.text-limiter-counter
      Inventory Rating Tons (66)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.inventory_rating
  .row
    %span.col-xs-6.text-limiter-counter
      Inventory Rating Factor (66F))
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Bridge Posting (70)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.bridge_posting_type
  .row
    %span.col-xs-6.text-limiter-counter
      Posting Type 3 (64P01)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Posting Type 3S2 (64P02)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Posting Type 3-2 (64P03)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Load Rating Date (130)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Rating Input Files Arcv'd (66A)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Rating Company (66C)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Rater Name (66N)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Rating Packg Complete (66RPC)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Type 3 (64LT01)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Type 3S2 (64LT02)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Legal 3-2 (64LT03)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      SU4 (64LT04)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      SU5 (64LT05)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      SU6 (64LT06)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      SU7 (64LT07)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      NRL (64LT08)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Lane Type Legal (64LT09)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      EV2 (64LT10)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      EV3 (64LT11)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Modified Tandem (64MT)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Colorado Permit (64P)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Overload Color Code (139)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-12.text-header
      Structural Type & Material
  .row
    %span.col-xs-6.text-limiter-counter
      FC Inspection Frequency
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context__
  .row
    %span.col-xs-6.text-limiter-counter
      FC Details (critical feature)
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context__
  .row
    %span.col-xs-6.text-limiter-counter
      Special Inspection Required
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context__
  .row
    %span.col-xs-6.text-limiter-counter
      Special Inspection Frequency
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context__
  .row
    %span.col-xs-6.text-limiter-counter
      Special Details (critical feature)
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context__
  .row
    %span.col-xs-6.text-limiter-counter
      Mat. and/or design (43A)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.main_span_material_type
  .row
    %span.col-xs-6.text-limiter-counter
      Design and/or const (43B)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.main_span_design_construction_type
  .row
    %span.col-xs-6.text-limiter-counter
      Mat/Design, appr spans (44A)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.approach_spans_material_type
  .row
    %span.col-xs-6.text-limiter-counter
      Design/Const, appr spans (44B)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.approach_spans_design_construction_type
  .row
    %span.col-xs-6.text-limiter-counter
      Number of Spans (45)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.num_spans_main
  .row
    %span.col-xs-6.text-limiter-counter
      Number of Approach Spans (46)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.num_spans_approach
  -typed_srtructure_methods = typed_srtructure_methods.class.instance_methods(false)
  -if typed_srtructure_methods.include?(:deck_structure_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Deck Structure Type (107)
      %span.col-xs-6.text-limiter-counter
        =typed_structure.deck_structure_type
  -if typed_srtructure_methods.include?(:wearing_surface_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Wearing Surface Type (108A)
      %span.col-xs-6.text-limiter-counter
        =typed_structure.wearing_surface_type
  -if typed_srtructure_methods.include?(:membrane_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Membrane Type (108B)
      %span.col-xs-6.text-limiter-counter
        =typed_structure.membrane_type
  -if typed_srtructure_methods.include?(:deck_protection_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Deck Protection Type (108C)
      %span.col-xs-6.text-limiter-counter
        =typed_structure.deck_protection_type
  .row
    %span.col-xs-6.text-limiter-counter
      Expansion Deck Type (124)
    %span.col-xs-6.text-limiter-counter
      __NA__
