-typed_structure = TransamAsset.get_typed_asset(@inspection.highway_structure)
.col-xs-6
  .row
    %span.col-xs-12.text-header
      Summary
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Key (8A)
    %span.col-xs-6.text-limiter-counter
      =@asset.asset_tag.to_s
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Status (23)
    %span.col-xs-6.text-limiter-counter
      =@asset.structure_status_type
  .row
    %span.col-xs-6.text-limiter-counter
      Highway Segment (5D)
    %span.col-xs-6.text-limiter-counter
      =@asset.roadways.first.route_number
  .row
    %span.col-xs-6.text-limiter-counter
      Legacy Milepoint (11A)
    %span.col-xs-6.text-limiter-counter
      =@asset.roadways.first.milepoint
  .row
    %span.col-xs-6.text-limiter-counter
      City (4)
    %span.col-xs-6.text-limiter-counter
      =@asset.city
  .row
    %span.col-xs-6.text-limiter-counter
      County (3)
    %span.col-xs-6.text-limiter-counter
      =@asset.county
  .row
    %span.col-xs-6.text-limiter-counter
      Maint. Responsibility (21)
    %span.col-xs-6.text-limiter-counter
      =@asset.maintenance_responsibility
  .row
    %span.col-xs-6.text-limiter-counter
      Owner (22)
    %span.col-xs-6.text-limiter-counter
      =@asset.owner
  .row
    %span.col-xs-6.text-limiter-counter
      Sufficency Rating
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Overall Condition (67A)
    %span.col-xs-6.text-limiter-counter
      =@asset.calculated_condition
  .row
    %span.col-xs-6.text-limiter-counter
      Scour Critical (113)
    %span.col-xs-6.text-limiter-counter
      =@inspection.inspectionible.scour_critical_bridge_type
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Class (24)
    %span.col-xs-6.text-limiter-counter
      =TransamAsset.get_typed_asset(@asset.transam_asset).class.name
  .row
    %span.col-xs-6.text-limiter-counter
      Major Minor (25)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Design Type (43D)
    %span.col-xs-6.text-limiter-counter
      - @asset = TransamAsset.find_by(id: @inspection.transam_asset_id)
      =@asset.asset_subtype.name
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Type (43C)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structure_type
  .row
    %span.col-xs-6.text-limiter-counter
      Inspection Program (80)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.inspection_program
  .row
    %span.col-xs-6.text-limiter-counter
      Inspection Team (82))
    %span.col-xs-6.text-limiter-counter
      =@inspection.assigned_organization
  .row
    %span.col-xs-6.text-limiter-counter
      Routine Inspection Date (90)
    %span.col-xs-6.text-limiter-counter-yellow
      ="#{@inspection.inspection_month}/#{@inspection.inspection_fiscal_year}"
  .row
    %span.col-xs-6.text-limiter-counter
      Due Date (90A)
    %span.col-xs-6.text-limiter-counter
      =@inspection.calculated_inspection_due_date.try(:strftime,'%B %Y')
  .row
    %span.col-xs-6.text-limiter-counter
      Target Date (90T)
    %span.col-xs-6.text-limiter-counter
      Do we have this was the above calculated_inspection_due_date?
  .row
    %span.col-xs-6.text-limiter-counter
      Inspection Trip (91T)
    %span.col-xs-6.text-limiter-counter
      =@inspection.inspection_trip_key
  .row
    %span.col-xs-6.text-limiter-counter
      Frac Crit Insp Req'd (92AA)
    %span.col-xs-6.text-limiter-counter
      =@inspection.inspection_type_setting.is_required
  .row
    %span.col-xs-6.text-limiter-counter
      Underwater Insp Req'd (92BA)
    %span.col-xs-6.text-limiter-counter
      =@inspection.inspection_type_setting.is_required
  .row
    %span.col-xs-6.text-limiter-counter
      Special Insp Req'd (92CA)
    %span.col-xs-6.text-limiter-counter
      =@inspection.inspection_type_setting.is_required
  .row
    %span.col-xs-6.text-limiter-counter
      Border Bridge Struc Number (99)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.border_bridge_structure_number
  .row
    %span.col-xs-12.text-header
      Identification
  .row
    %span.col-xs-6.text-limiter-counter
      State (1)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.state
  .row
    %span.col-xs-6.text-limiter-counter
      Region (2E)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.region
  .row
    %span.col-xs-6.text-limiter-counter
      Maintenance (2M)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.maintenance_section
  .row
    %span.col-xs-6.text-limiter-counter
      Transportation Planning Region (2T)
    %span.col-xs-6.text-limiter-counter
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Features Intersected (6A)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.features_intersected
  .row
    %span.col-xs-6.text-limiter-counter
      Facility Carried by Structure (7)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.facility_carried
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Number (8)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.structure_number
  .row
    %span.col-xs-6.text-limiter-counter
      Location Description (9)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.location_description
  .row
    %span.col-xs-6.text-limiter-counter
      Latitude (16)
    %span.col-xs-6.text-limiter-counter
      =@asset.geometry.y
  .row
    %span.col-xs-6.text-limiter-counter
      Longitude (17)
    %span.col-xs-6.text-limiter-counter
      =@asset.geometry.x
  .row
    %span.col-xs-6.text-limiter-counter
      FHWA Region (Border) (98A)
    %span.col-xs-6.text-limiter-counter
      __??__
  .row
    %span.col-xs-6.text-limiter-counter
      Percent Responsibility (98B)
    %span.col-xs-6.text-limiter-counter
      __??__
  .row
    %span.col-xs-6.text-limiter-counter
      Border Bridge Struc Number (99)
    %span.col-xs-6.text-limiter-counter
      __??__
  .row
    %span.col-xs-12.text-header
      Age & Service
  .row
    %span.col-xs-6.text-limiter-counter
      Year Built (27)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.transam_asset.manufacture_year
  .row
    %span.col-xs-6.text-limiter-counter
      Lanes On (28A)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.lanes_on
  .row
    %span.col-xs-6.text-limiter-counter
      Lanes Under (28B)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.lanes_under
  .row
    %span.col-xs-6.text-limiter-counter
      Service Type On (42A)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.service_on_type
  .row
    %span.col-xs-6.text-limiter-counter
      Service Type Under (42B)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.highway_structurible.service_under_type
.col-xs-6
  .row
    %span.col-xs-12.text-header
      Appraisal
  .row
    %span.col-xs-6.text-limiter-counter
      Bridge Rail (36A)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.railings_safety_type
  .row
    %span.col-xs-6.text-limiter-counter
      Transitions (36B)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.transitions_safety_type
  .row
    %span.col-xs-6.text-limiter-counter
      Approach guardrail (36C)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.approach_rail_safety_type
  .row
    %span.col-xs-6.text-limiter-counter
      End treatments (36D)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.approach_rail_end_safety_type
  .row
    %span.col-xs-6.text-limiter-counter
      Rail Height (36H)
    %span.col-xs-6.text-limiter-counter-yellow
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Fill/Asphalt Thickness (66T)
    %span.col-xs-6.text-limiter-counter-yellow
      __No Context provided__
  .row
    %span.col-xs-6.text-limiter-counter
      Waterway Adequacy (71)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.waterway_appraisal_rating_type
  .row
    %span.col-xs-6.text-limiter-counter
      Approach Roadway Alignment (72)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.approach_alignment_appraisal_rating_type
  .row
    %span.col-xs-6.text-limiter-counter
      Structural Evaluation (67)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.structural_appraisal_rating_type
  .row
    %span.col-xs-6.text-limiter-counter
      Deck Geometry (68)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.deck_geometry_appraisal_rating_type

  -if typed_inspection_methods.include?(:underclearance_appraisal_rating_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Underclearances Appraisal (69)
      %span.col-xs-6.text-limiter-counter-yellow
        =@typed_inspection.underclearance_appraisal_rating_type
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Rail Type (125A)
    %span.col-xs-6.text-limiter-counter-yellow
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Structure Rail Modified (125B)
    %span.col-xs-6.text-limiter-counter-yellow
      __NA__
  .row
    %span.col-xs-12.text-header
      Classification
  .row
    %span.col-xs-6.text-limiter-counter
      Toll (20)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.highway_structurible.bridge_toll_type
  .row
    %span.col-xs-6.text-limiter-counter
      Historical Significance (37)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.historical_significance_type
  .row
    %span.col-xs-6.text-limiter-counter
      Temporary Structure (103)
    %span.col-xs-6.text-limiter-counter
      =@inspection.highway_structure.is_temporary
  .row
    %span.col-xs-12.text-header
      Condition
  -if typed_inspection_methods.include?(:deck_condition_rating_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Deck (58)
      %span.col-xs-6.text-limiter-counter-yellow
        =@typed_inspection.deck_condition_rating_type
  -if typed_inspection_methods.include?(:superstructure_condition_rating_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Superstructure (59)
      %span.col-xs-6.text-limiter-counter-yellow
        =@typed_inspection.superstructure_condition_rating_type

  -if typed_inspection_methods.include?(:substructure_condition_rating_type)
    .row
      %span.col-xs-6.text-limiter-counter
        Substructure (60)
      %span.col-xs-6.text-limiter-counter-yellow
        =@typed_inspection.substructure_condition_rating_type
  .row
    %span.col-xs-6.text-limiter-counter
      Channel Protection (61)
    %span.col-xs-6.text-limiter-counter-yellow
      =@typed_inspection.channel_condition_type
  .row
    %span.col-xs-6.text-limiter-counter
      SSHML Rating
    %span.col-xs-6.text-limiter-counter-yellow
      __??__
  .row
    %span.col-xs-12.text-header
      Geometric Data
  .row
    %span.col-xs-6.text-limiter-counter
      Approach Roadway Width (32)
    %span.col-xs-6.text-limiter-counter-yellow
      =@inspection.highway_structure.approach_roadway_width
  .row
    %span.col-xs-6.text-limiter-counter
      Meridian (33)
    %span.col-xs-6.text-limiter-counter-yellow
      __NA__
  .row
    %span.col-xs-6.text-limiter-counter
      Skew (34))
    %span.col-xs-6.text-limiter-counter-yellow
      __NA__

  .row
    %span.col-xs-6.text-limiter-counter
      Maximum Span Length (48)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.max_span_length

  .row
    %span.col-xs-6.text-limiter-counter
      Bridge Length (49)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.length

  .row
    %span.col-xs-6.text-limiter-counter
      Left Curb or Sidewalk (50A)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.left_curb_sidewalk_width

  .row
    %span.col-xs-6.text-limiter-counter
      Right Curb or Sidewalk (50B)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.right_curb_sidewalk_width

  .row
    %span.col-xs-6.text-limiter-counter
      Curb to Curb (51)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.roadway_width

  .row
    %span.col-xs-6.text-limiter-counter
      Out to Out (52)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.deck_width

  .row
    %span.col-xs-6.text-limiter-counter
      Min Vertical Clr Above Bridge (53)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.min_vertical_clearance_above

  .row
    %span.col-xs-6.text-limiter-counter
      Min Vertical Clr Below Bridge (54B)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.min_vertical_clearance_below

  .row
    %span.col-xs-6.text-limiter-counter
      Ref Vert Feature Below Bridge (54A)
    %span.col-xs-6.text-limiter-counter-yellow
      __??__

  .row
    %span.col-xs-6.text-limiter-counter
      Ref Horiz Feat Below Bridge (55A)
    %span.col-xs-6.text-limiter-counter-yellow
      __??__

  .row
    %span.col-xs-6.overflow-hidden.text-limiter-counter
      Min Horiz Clr Below Bridge, Rt (55B)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.min_lateral_clearance_below_right

  .row
    %span.col-xs-6.text-limiter-counter
      Min Horiz Clr Below Bridge, Lt (56)
    %span.col-xs-6.text-limiter-counter-yellow
      =typed_structure.min_lateral_clearance_below_left

  .row
    %span.col-xs-12.text-header
      Structure Notes
  .row
    %span.col-xs-12.text-limiter-counter
      =@inspection.highway_structure.remarks