#subheader-label
  %h2 Inspection Manager
  %legend.asset-subheader
.row
  .col-sm-12
    = render 'inspections/search_form'

  #inspection-assignments-form
    = render partial: 'inspections/assignments_form_panel', :locals => {state: @search_proxy.single_state_selected, assigned_organization_id: @search_proxy.assigned_organization_id}
  
  .col-sm-12
    #spinner{:style => 'padding: 20px;'}
      = loader_panel_tag({:message => "Searching...", :size => 3, :spinner => "refresh"})

    #errors

    #inspection-table-container
      = render 'inspections/inspections_table'

:javascript

  $(window).resize(function() {
    $('#inspections-table').bootstrapTable('resetView');
  });

  // functions for enabling/disabling assignment actions
  function enable_disable_change_workflow() {
    $('.assignment_form_submit').attr('disabled', 'disabled');
    if ($('#inspection-table').bootstrapTable('getSelections').length > 0 && $('input[name="inspector_assignment_proxy[inspector_ids][]"]:checked').length == 0) {
      if($('#transam_workflow_model_proxy_assigned_organization_id').val()) {
        $('#make_ready_workflow').removeAttr('disabled');
      }
      $('#reopen_workflow,#unassign_workflow').removeAttr('disabled');
    }
  }

  function enable_disable_change_inspectors() {
    $('#add_inspectors_workflow,#remove_inspectors_workflow').attr('disabled', 'disabled');
    if ($('#inspection-table').bootstrapTable('getSelections').length > 0) {
      if($('input[name="inspector_assignment_proxy[inspector_ids][]"]:checked').length > 0) {
        $('#add_inspectors_workflow').removeAttr('disabled');
        $('#remove_inspectors_workflow').removeAttr('disabled');
      }
    }
  }