:css
  .table-toggle-button-container {
    margin-bottom: -40px; 
    z-index: 100000;
  }
.row
  .col-xs-12.table-toggle-button-container
    .pull-right
      = render 'highway_maps/table_toggle_button'
= render 'maps/map_container'